:root {
    --main-color: #f4511e;
    --second-color: ghostwhite;
    --Third-color: #303030;
    --fourth-color: #9E9E9E;
}

body {
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 62.4%;
}

main {
    margin-left: 100px;
    margin-top: 32px;
    padding-left: 32px;
    border-left: solid 1px var(--Third-color);
}


header h1 {
    color: var(--Third-color);
    font-size: 1.6rem;
}

#bouton {
    color: white;
    background-color: var(--main-color);
    padding: 8px 22px;
    border: solid 1px var(--main-color);
    font-weight: 900;
}

#bouton:hover {
    color: var(--main-color);
    background-color: var(--second-color);
    border: solid 1px var(--main-color);
}

#menu {
    padding: 64px 0 0 0;
}

#menu li {
    display: grid;
    grid-template-columns: 96px 1fr;
    width: 100%;
}
li p {
    margin: 2px;
}

#menu li p:first-child {
    color: var(--main-color)
}

ul {
    list-style: square;
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: var(--fourth-color);
    font-weight: 300;
}

button:focus {
    outline: none;
}


/*utile pour le javascript*/
#menu {
    display: none;
}

.msgError {
    padding: 50px 0 50px;
    font-size: 24px;
    font-weight: lighter;
    color: var(--Third-color);
}

.msgHidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    main {
        margin-left: 10px;
    }

}