/*
Couleurs
Gris clair: #dfe6e9;
Gris foncé: #2d3436;
orange: darkorange;
*/

body {
    max-width: 100%;
    margin: auto;
}


section {
    display: flex;
    justify-content: center;
    background-color: darkorange;
}


section,
header {
    padding: 20px;
}


header {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
}


header h1 {
    color: darkorange;
    border: Solid darkorange 2px;
}


header h1,
button {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 10px 50px;
    margin: 0px;
    border-radius: 12px;
    position: relative;
}

@keyframes rebond {
    from {
        transform: scale(1);
    }

    20% {
        transform: scale(0.98);
    }

    40% {
        transform: scale(1.02);
    }

    60% {
        transform: scale(0.99);
    }

    80% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1.00);
    }

}

button {
    color: darkorange;
    text-decoration: none;
    border: none;

}


button:hover {
    opacity: 0.90;
    animation: rebond 500ms ease-in-out;
}




/***** = Liste *****/

ul {
    margin: 0px;
    padding: 0px;
}

section li {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    background-color: darkorange;
    text-decoration: none;
    list-style: none;
    padding: 0px 30px;
    text-align: center;
}



/*utile pour le javascript*/
#menu {
    display: none;
}





/***** = ICONS *****/

.fas {
    font-size: 30px;
    position: absolute;
    left: 10px;
}

.fa-utensils,
.fa-carrot {
    color: darkorange;
}


/***** = media queries *****/
@media screen and (max-width: 425px) {

    header h1,
    button {
        font-size: 22px;
        padding: 10px 40px;
    }

    section,
    header {
        padding: 10px;
    }

    section li {
        font-size: 19px;
    }

    .fas {
        font-size: 28px;
        position: absolute;
        left: 10px;
    }
}


@media screen and (max-width: 320px) {
    .fas {
        font-size: 26px;
        position: absolute;
        left: 10px;
        top: 20px;
    }

    header h1,
    button {
        font-size: 22px;
        padding: 10px 50px;
    }
}
